.partners-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.partners-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin: 100px auto; /* 🔹 отступы сверху и снизу */     /* 🔹 боковые отступы на всех экранах */
}

.partners-container h1 {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(90deg, #FFFFFF, #2C4E6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.partners-container h1 span {
  background: linear-gradient(90deg,#0049FF, #00C3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  width: 390px;
  height: 214px;
  border: 1px solid rgba(255,255,255,0.24);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.02);
}

.container p {
  font-size: 27px;
  font-weight: 400;
  background: linear-gradient(90deg, #FFFFFF, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}

/* ---------- АДАПТАЦИЯ ---------- */

@media (max-width: 1024px) {
  .partners {
    gap: 25px;
  }

  .partners-container h1 {
    font-size: 2.8rem;
  }

  .container {
    width: 300px;
    height: 200px;
  }

  .container p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .partners-container {
    padding: 0 1.5rem;
    gap: 60px;
    margin: 80px auto;
  }

  .partners-container h1 {
    font-size: 2rem;
  }

  .partners {
    gap: 20px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  .container p {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .partners-container {
    margin: 60px auto;
    padding: 0;
    gap: 50px;
  }

  .partners-container h1 {
    font-size: 1.5rem;
  }

  .container {
    padding: 1.2rem;
  }

  .container p {
    font-size: 18px;
  }
}
